$background: #f7fafc;
$font-main: #363636;

$link: #4a56a5;
$link-hover: #4a56a5;

$form-border: #dbdce0;
$form-background: #eff2f5;
$input-bg: #fff;

$table-row-bg: #f8fbff;
$table-alt-row-bg: #eff2f7;
$table-frozen-col-bg: $table-row-bg;
$table-alt-frozen-col-bg: $table-alt-row-bg;
$table-header-bg: #5667d4;
$table-header-font: #f1f3ff;
$sortable-th-hover: #8894e6;

$negative-num-font: #fb6464;
$positive-num-font: #74954f;
