@import './colors';
@import './settings_form';
@import './fund_table';

html {
  font-family: 'Roboto', sans-serif;
  color: $font-main;
  background-color: $background;
}

body * {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link;
}

a:hover {
  text-decoration: underline;
  color: $link-hover;
}

a:visited {
  color: $link;
}

header {
  margin: 0 auto 2rem auto;
  text-align: center;
  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
}

#app-message {
  margin: 2rem auto 1rem auto;
  text-align: center;
  line-height: 1.5rem;
}

ul#pages {
  margin: 1rem auto;
  text-align: center;
  list-style: none;
  padding: 0;
  li {
    font-size: 1.25rem;
    display: inline-block;
  }
}

footer {
  margin: 2rem auto;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}
