html {
  font-family: 'Roboto', sans-serif;
  color: #012137;
  background-color: #fafcff;
}

body * {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4a56a5;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #4a56a5;
}

header {
  margin: auto auto;
  text-align: center;
}

.settings-form {
  max-width: 90%;
  margin: auto auto;
  padding: 0;
  border: 1px solid #e7eaf3;
  border-radius: 5px;
}

#settings-form {
  max-width: 1200px;
  margin: auto auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  > * {
    margin: 0.5rem;
  }
  #fund-name {
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid #e7eaf3;
    border-radius: 3px;
  }
  #aum-container {
    text-align: center;
    border-radius: 3px;
    #aum-settings {
      display: flex;
      justify-content: space-evenly;
    }
    label {
      border: 1px solid #e7eaf3;
    }
    input {
      width: 5rem;
      border: 0;
    }
  }
  #platform-container {
    text-align: center;
    #platform-settings {
      border-top: 1px solid #e7eaf3;
      display: flex;
      justify-content: space-between;
      label {
        margin: 0 0.5rem;
      }
    }
  }
  #per-page-container {
    text-align: center;
    input {
      margin: auto auto;
      width: 3rem;
      display: block;
      border: 1px solid #e7eaf3;
      border-radius: 3px;
    }
  }
  #currency-selector {
    text-align: center;
  }
}

#app-message {
  margin: 1rem auto;
  height: 2rem;
  text-align: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

.table-container {
  overflow: scroll;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  table {
    border: 1px solid #e7eaf3;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fafcff;
    .col-rank {
      width: 3rem;
      text-align: center;
    }
    td.col-rank {
      background-color: #f7f9fc;
    }
    .col-name {
      width: 12rem;
    }
    .col-aum {
      width: 10rem;
      text-align: right;
    }
    .col-sp {
      width: 8rem;
      text-align: right;
    }
    .col-1d {
      width: 6rem;
      text-align: right;
    }
    .col-1w {
      width: 6rem;
      text-align: right;
    }
    .col-1m {
      width: 6rem;
      text-align: right;
    }
    .col-3m {
      width: 6rem;
      text-align: right;
    }
    .col-ytd {
      width: 6rem;
      text-align: right;
    }
    .col-1y {
      width: 6rem;
      text-align: right;
    }
    .col-si {
      width: 9rem;
      text-align: right;
    }
    .col-inception-date {
      width: 9rem;
    }
    .col-platform {
      width: 7rem;
    }
    thead {
      tr {
        user-select: none;
        th {
          text-align: left;
          padding: 1em;
          color: #6984aa;
          background-color: #f6f9fd;
          position: sticky;
          top: 0px;
          overflow: hidden;
          white-space: nowrap;
        }
        th:first-child {
          left: 0px;
          z-index: 2;
        }
      }
    }
    tbody {
      tr {
        border-top: 1px solid #e7eaf3;
      }
      tr:hover {
        td,
        th {
          background: #fff;
        }
      }
      td {
        text-align: left;
        padding: 1rem;
        overflow: hidden;
        white-space: nowrap;
      }
      td:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
      }
    }
  }
}

.negative-num {
  font-weight: bold;
  color: red;
}

.positive-num {
  font-weight: bold;
  color: green;
}

.positive-num::before {
  content: '+';
}

#fixed-table-header {
  position: fixed;
  top: 0px;
  z-index: 3;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
#fixed-table-header::-webkit-scrollbar {
  width: 0 !important;
}

.sortable:hover {
  background-color: #fff;
}

.sorted-desc::after {
  font-size: 0.8rem;
  content: ' ▼';
}

.sorted-asc::after {
  font-size: 0.8rem;
  content: ' ▲';
}

ul#pages {
  margin: 1rem auto;
  text-align: center;
  list-style: none;
  padding: 0;
  li {
    font-size: 1.25rem;
    display: inline-block;
  }
}

footer {
  margin: auto auto;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .table-container {
    th:nth-child(2) {
      left: 2.5rem;
      z-index: 2;
    }
    td:nth-child(2) {
      position: sticky;
      left: 2.5rem;
      z-index: 1;
    }
    td.col-name {
      background-color: #f7f9fc;
    }
  }
}

@media screen and (min-width: 1100px) {
  #settings-form {
    justify-content: space-evenly;
  }
}
